#Test {
  background: linear-gradient(to right, #b3d4e6, #FFFFFF, #b3d4e6) !important;
  margin: auto;
  overflow: hidden; 
  width: 100%;
}

#Test h2{
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 5px;
  margin-bottom: 25px;
}

.testimonials {
  display: flex;
  gap: 20px;
  align-items: center;
  width: calc(300px * 8 + 140px); 
  animation: scroll-right 45s linear infinite;
  padding-bottom: 80px;
}

.testimonial1, .testimonial2, .testimonial3, .testimonial4, .testimonial5, .testimonial6, .testimonial7, .testimonial8 {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px; 
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  flex: none;
  position: relative;
}

.testimonial1:hover, .testimonial2:hover, .testimonial3:hover, .testimonial4:hover, .testimonial5:hover, .testimonial6:hover, .testimonial7:hover, .testimonial8:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: #0459c1;
  border-width: 2px;
}

.testimonial-content {
  position: relative;
}

.testimonial-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.testimonial-stars {
  color: #f39c12; 
  font-size: 1.5em; 
}

.student-review {
  margin: 0;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}

.student-name {
  font-size: 1.2em;
  margin-top: 10px;
}

@keyframes scroll-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-300px * 8 - 140px)); } 
}
