:root {
  --bg-primary: #93d0f5;
}

.svg-container {
  backdrop-filter: blur(0.5px);
  background: linear-gradient(
    135deg, 
    var(--bg-primary) 0%, 
    #a7d8f7 100%
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
}

  svg {
    object-fit: cover;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 100%;
     width: 100%;
  }

  .tri-1 { fill: #e2eff7; }
  .tri-2 { fill: #b6ddf8; }
  .tri-3 { fill: #88cefd; }
  .tri-4 { fill: #97d4ff; }
  .tri-5 { fill: #a4d9ff; }
  .tri-6 { fill: #67bdff; }
  .tri-7 { fill: #93d0f5; }
  

/* Seamless Blending */
.triangle {
  mix-blend-mode: luminosity;
  opacity: 0.98;
  transition: opacity 0.5s ease-out;
}

.triangle:hover {
  opacity: 1;
}


@keyframes fadeAndScale {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .svg-container {
    border-radius: 15px;
  }

  svg {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }

  .svg-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.05); 
    border-radius: 15px;
  }
}